/* header */
.main-header {
    width           : 100vw;
    position        : fixed;
    z-index         : 3;
    background-color: rgba(255, 255, 255, .8);
    box-shadow      : 0 2px 3px rgb(128, 128, 128);
}

.logo {
    padding: 6px 16px;
    height : 60px;
}

.main-header li a {
    margin-right: 30px;
    font-size   : 20px;
    transition  : .5s;
}

.main-header li:hover {
    list-style: none;
}

.main-header li:hover a {
    border-bottom: 2px solid black;
}

/* footer */
.main-footer {
    background-color: var(--dark-background-color);
    padding         : 20px;
}

.main-footer ul {
    text-align: center;
}
.main-footer li {
   padding: .5rem 0;
}
.main-footer ul a {
    font-size: 24px;
}

.main-footer>p {
    padding: 10px;
}
