.product-info {}

.product-info .grid {
    grid-template-columns: 2fr 3fr;
}

.product-info .info-group {
    padding: 30px;
}

.product-info img {
    width : 460px;
    height: 540px;
}

.product-info .info-group h2,
.product-info .info-group h3,
.product-info .info-group h4 {
    margin-bottom: 1em;
}

.product-info .amount {
    display: flex;
}

.product-info .amount>* {
    margin: 0 2rem 0 0;
}

.product-info .amountCount {
    font-size: 0;
}

.product-info .amount input,
.product-info .amount button {
    border    : 0;
    height    : 28px;
    text-align: center;
    font-size : 20px;

}

.product-info .amount button {
    width           : 28px;
    background-color: var(--dark-background-color);
}

.product-info .amount input {
    width: 50px;
}

.product-info .amount input:focus {
    outline: transparent;
}

.product-info .amount span,
.product-info .price {
    color: var(--eye-catching-red);
}

.product-info .price-buy {
    display: flex;
}

.product-info .price-buy>* {
    margin: 0 2rem 0 0;
}

.product-info .btn {
    font-size: 16px;
    padding  : 2px 15px;
    height   : 28px;
}

.product-info .like {
    color          : var(--eye-catching-red);
    border         : 1px solid var(--eye-catching-red);
    box-shadow     : unset;
    font-size      : 16px;
    padding        : 2px 15px;
    height         : 28px;
    text-decoration: none;
    border-radius  : 2px;
    transition     : .5s;
}

.product-info .like:hover {
    background-color: var(--eye-catching-red);
    color           : #fff;
}

.slogan {
    position  : relative;
    text-align: center;
    margin    : 30px auto;
    padding   : 2rem 0;
}

.slogan .bg {
    width          : 100%;
    height         : 100%;
    position       : absolute;
    top            : 0;
    left           : 0;
    background     : url(./img/product-detail-bg.jpg);
    background-size: cover;
    opacity        : .8;
    z-index        : -1;
}

/* intro */
.intro .intro-tab {
    display              : grid;
    grid-template-columns: repeat(3, 1fr) 4fr;
    gap                  : 30px;
}

.intro .intro-tab li {
    font-size       : 20px;
    color           : var(--blue);
    background-color: var(--second-background-color);
    padding         : .5rem 1rem;
    text-align      : center;
}

.intro .intro-title.active {
    background-color: var(--blue);
    color           : white;
}

.intro .tab-view {
    width   : 100%;
    height  : 400px;
    overflow: auto;
    border  : 2px solid var(--lightblue);
    padding : 2rem;
}

.intro .intro-content {
    display: none;
}

.intro-content.active {
    display: block;
}